@charset 'utf-8';
@import url(fonts.css);
@import url(reset.css);

body {
    font-family: 'Noto Sans KR',sans-serif;
}

#wrap {
    width: 1200px; margin: 50px auto;
}

.main {
	position: relative;
	background: url(../img/img_main.jpg) no-repeat center/cover;
	height: 300px;
}
.main h1 {
	position: absolute;
	top: 20%; left: 18%;
	font-family: 'Oswald';
	font-size: 45px;
	font-weight: 500;
	line-height: 1.3;
	color: #754776;
    display: none;
}

.mainTitle { 
    width: 800px; 
    margin: 0 auto;
}
.mainTitle .title01 { 
    margin-top: 40px; 
    margin-bottom: 20px; 
    text-align: center; 
}
.mainTitle .title01 img {
    float: left; 
    margin-right: 40px; 
    width: 300px; 
    height: 300px;
}
.mainTitle .title01 h3 {
	font-family: 'Oswald';
	font-size: 30px; 
	font-weight: 500;
	margin-bottom: 20px;
	color: #754776;}
.mainTitle .title01 p {
    font-size: 17px; 
    font-weight: 500; 
    margin-bottom: 20px;
}
.mainTitle .title01 .titleText01 {
	float: right;
	padding: 30px;
}

.mainTitle .title02 {
    width: 800px; 
    margin-top: 30px; 
    text-align: center;
}
.mainTitle .title02 p {
    font-size: 17px; 
    font-weight: 500; 
    margin-bottom: 20px;
}
.mainTitle .title02 img {
    width: 300px; 
    height: 300px; 
    float: right;
}
.mainTitle .title02 h3 {
	font-family: 'Oswald';
	font-size: 30px; 
	font-weight: 500;
	margin-bottom: 20px;
	color: #754776;}
.mainTitle .title02 .titleText02 {
	float: left;
	margin-top: 65px;
}

/*color-sec*/
.colorSec {
    width: 1200px; 
    margin: 0 auto; 
    margin-top: 25px; 
    background: #efb5a3; 
    padding-bottom: 20px;
}
.colorSec h2 { 
    font-family: 'Oswald';
    font-size: 40px; 
    font-weight: 500; 
    text-align: center; 
    color: #754776;
    margin-top: 15px; 
    margin-bottom: 15px; 
}
.lipGroup {
    width: 800px; 
    margin: 0 auto;
}
.lipItem {
    float: left;
}
.lipItem img {
    width: 250px; 
    margin-right: 16px;
}
.lipItem .lipText {
    text-align: center;
}
.lipItem .lipText h3 {
    font-family: 'Oswald'; 
    font-size: 25px; 
    font-weight: 500; 
    color: #754776;
}
.lipItem .lipText span {
    font-size: 19px; 
    color:#754776; 
    font-weight: 400; 
}
.lipItem .lipText p {
    font-size: 18px; 
    color: #8c4155; 
    line-height: 1.3; 
}

/*footer*/
.footer { 
    position: relative;  
    width: 1200px; 
    height: 100px; 
    background-color: #754776;}
.footer span {
	position: absolute;
	top: 35%; left: 2%;
	font-size: 14px;
	color: #fff;
}
.footer p {	
	position: absolute;
	top: 60%; left: 2%;
	font-size: 14px; 
	font-weight: 400;
	color: #fff;
}





